<section class="container fav-section">
  <div class="rad-img">
    <img
      class="fav-hero-img-mob fav-hero-img"
      src="./images/mobile/favourites-hero-mob.jpg"
      alt=""
    />
    <img
      class="fav-hero-img-tab fav-hero-img"
      src="./images/tablet/favourites-hero-tab.jpg"
      alt=""
    />
    <img
      class="fav-hero-img-desk fav-hero-img"
      src="./images/desctop/favourites-hero-desk.jpg"
      alt=""
    />
  </div>

  <div class="fav-categories">
    <button type="button" name="all" class="fav-category-btn">
      All categories
    </button>
  </div>

  <ul class="fav-recipes"></ul>

  <div class="fav-notification">
    <img src="./images/favourites-chef's-hat.svg" alt="" class="fav-icon-hat" />
    <p class="fav-notification-text">
      It appears that you haven't added any recipes to your favorites yet. To
      get started, you can add recipes that you like to your favorites for
      easier access in the future.
    </p>
  </div>
</section>
