<section class="hero">
  <div class="container">
    <div class="vrap-hero">
      <div class="hero-name-btn-block">
        <h1 class="hero-name">
          Learn to Cook
          <span class="tasty-green">Tasty Treats'</span> Customizable
          Masterclass
        </h1>
        <p class="hero-text">
          TastyTreats - Customize Your Meal with Ingredient Options and
          Step-by-Step Video Guide
        </p>
        <a href="tel:+380730000000">
          <button class="hero-btn">Order now</button></a
        >
      </div>

      <div class="my-swiper-wrap">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

      <div class="cap"></div>
    </div>
  </div>
</section>
