<button class="base-btn open-rating-btn">Open rating-pop-up</button>
<!-- <div class="container-rating rad-img">
  <div class="rating-btn-close">
    <svg class="rating-close-btn" width="20" height="20">
      <use href="/src/images/icons-svg.svg#icon-close"></use>
    </svg>
  </div>
  <div>
    <div class="rating-pop-up">
      <p class="rating-text">Rating</p>
      <div class="rating stars-pop-up">
        <div class="rating-value number-text">3.5</div>
        <div class="rating-body">
          <div class="rating-active"></div>
          <div class="rating-items">
            <input
              type="radio"
              class="rating-item"
              name="recipe-rating"
              value="1"
            />
            <input
              type="radio"
              class="rating-item"
              name="recipe-rating"
              value="2"
            />
            <input
              type="radio"
              class="rating-item"
              name="recipe-rating"
              value="3"
            />
            <input
              type="radio"
              class="rating-item"
              name="recipe-rating"
              value="4"
            />
            <input
              type="radio"
              class="rating-item"
              name="recipe-rating"
              value="5"
            />
          </div>
        </div>
      </div>
      <input
        class="rating-input rad-img"
        type="email"
        name="email"
        value=""
        placeholder="Enter email"
      />
      <button class="base-btn btn-rating" type="button">Send</button>
    </div>
  </div>
</div> -->
