<!-- <div class="backdrop is-hidden"> -->
<div class="backdrop is-hidden">
    <div class="modal-recipe">
        <button type="button" class="btn-recipe-close">
            <svg class="btn-close-icon" width="20" height="20">
                <!-- <use href="/src/images/src/images/icons-svg.svg#icon-close"></use> --> 
            </svg>
        </button>
        <div class="modal-recipe-content">
            <div class="ingredients"></div>
        </div>
        <div class="recipe-modal-btn-wrap">
            <button type="button" class="base-btn btn-favourite">Add to favourite</button>
            <button type="button" class="base-btn btn-give-rating">Give a rating</button>
         </div>
    </div>
    <script type="module" href="/src/js/recipe-pop-up.js"></script>
</div>
