<button class="open-modal-recipe base-btn">open-modal-recipe</button>
<!-- <div class="backdrop is-hidden">
    <div class="modal-recipe">
        <button type="button" class="btn-recipe-close close-button">
            <svg class="recipe-btn-close-icon" width="20" height="20">
                <use href="/src/images/icons-svg.svg#icon-close"></use> 
            </svg>
        </button>
        <div class="modal-recipe-content">
            
        </div>
        <div class="recipe-modal-btn-wrap">
            <button type="button" class="base-btn btn-favorite">Add to favorite</button>
            <button type="button" class="base-btn btn-give-rating">Give a rating</button>
         </div>
    </div>
</div> -->
<!-- <script type="module" href="/src/js/recipe-pop-up.js"></script> -->