.filter {
    padding-bottom: 10px;
}

.filter-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 14px;
}

.filter-name {
    display: block;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: 0em;
    margin-bottom: 8px;
    color: var(--light-theme-semi-transparent-color);
}

.filter-input-wrapper {
    display: block;
    position: relative;
}

.search-input {
    /* width: 335px; */
    height: 46px;
    border: 1px solid var(--light-theme-transparent-color);
    border-radius: 15px;
    padding-left: 48px;
    padding-right: 40px;
    background-color: var(--light-theme-background-color);
    color: var(--light-theme-text-color);
}

.search-input::placeholder {
    color: var(--light-theme-semi-transparent-color);
}

.search-input:focus {
    outline: none;
}

.filter-input-icon {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    fill: var(--light-theme-semi-transparent-color);
    transition: fill var(--animation);
}

.search-input:focus + .filter-input-icon {
    fill: var(--accent-color);
}

.filter-input-reset-icon {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    fill: var(--light-modal-text-color);
}

.time-select {
    max-width: 160px;
    min-width: 160px;
    height: 46px;
    outline: none;
}

.area-select {
    max-width: 161px;
    min-width: 161px;
    height: 46px;
    outline: none;
}

.ingredients-select {
    max-width: 188px;
    min-width: 188px;
    height: 46px;
    outline: none;
}

.filter-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 105px;
    height: 16px;
    margin-left: auto;
    padding: 0;
    background-color: var(--light-theme-background-color);
}

.filter-reset:focus {
    outline: none;
}

.filter-reset-desc {
    display: block;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0em;
    color: var(--light-theme-semi-transparent-color);
}

.filter-reset-icon {
    margin-right: 8px;
    width: 8px;
    height: 8px;
    fill: var(--accent-color);
}

.disabled {
    background-color: var(--light-disable-color);
    cursor: not-allowed;
}

/* ------Зміни в бібліотеці slim-select------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

/* :root{
    --ss-content-height: 176px !important;
    --ss-border-radius: 15px !important;
} */

.ss-main .ss-values div.ss-single{
    margin: auto 0px auto 18px;
    color: var(--light-theme-text-color);
}

/* -------Відступ стрілки випадаючого списку------ */
.ss-main svg.ss-arrow {
    width: 15px;
    height: 15px;
    margin-right: 21px;
    margin-left: 0;
}

div.ss-main .ss-arrow path {
    stroke: var(--light-theme-semi-transparent-color);
}

div.ss-main {
    background-color: var(--light-theme-background-color);
    border: 1px solid var(--light-theme-transparent-color);
}

div.ss-main:focus {
    box-shadow: none;
}

div.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected {
    color: var(--light-theme-almost-transparent-color);
    background-color: var(--light-modal-background-color);
    font-family: Inter, sans-serif;
    line-height: 1.25;
}

div.ss-content .ss-list .ss-option:not(.ss-disabled).ss-selected:hover {
    color: var(--light-theme-text-color);
    background-color: var(--light-modal-background-color);
}

.ss-content .ss-list div.ss-option {
    padding-left: 18px;
    color: var(--light-theme-almost-transparent-color);
    background-color: var(--light-modal-background-color);
    font-family: Inter, sans-serif;
    line-height: 1.25;
}

.ss-content .ss-list div.ss-option:hover {
    color: var(--light-theme-text-color);
    background-color: var(--light-modal-background-color);
    transition: color var(--animation);
}

div.ss-main .ss-values .ss-placeholder {
    color: var(--light-theme-semi-transparent-color);
    padding-left: 18px;
}

div.ss-main .ss-values {
    color: var(--light-theme-text-color);
}

div.ss-content.ss-open-below {
    background-color: var(--light-modal-background-color);
    border: 1px solid var(--light-theme-transparent-color);
}

div.ss-content.ss-open-above {
    background-color: var(--light-modal-background-color);
    border: 1px solid var(--light-theme-transparent-color);
}

div.ss-content .ss-search input{
    color: var(--light-theme-text-color);
    background-color: var(--light-modal-background-color);
    border: 1px solid var(--light-theme-transparent-color);
    padding-left: 11px;
}

div.ss-content .ss-search input:focus {
    box-shadow: none;
}

div.ss-content .ss-search input::placeholder {
    color: var(--light-theme-semi-transparent-color);
}

div.ss-list .ss-search {
    color: var(--light-theme-text-color);
    margin-left: 11px;
}

div.ss-main.ss-disabled {
    background-color: var(--light-disable-color);
}

/* -------------------Скрол------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

.ss-list::-webkit-scrollbar {
    width: 14px;
    margin-right: 4px;
}

.ss-list::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: var(--light-modal-scroll-color);
    border-radius: 12px;
    border: 4px solid var(--light-modal-background-color);
}

.ss-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-theme-transparent-color);
}

/* -----------Для різних екранів-------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */

@media screen and (max-width: 366px) {

.search-input {
    width: 290px;
}
}

@media screen and (min-width: 367px) {

.search-input {
    width: 335px;
}
}

@media screen and (min-width: 768px) {

.filter-flex-wrapper {
    gap: 16px;
}

.search-input {
    width: 278px;
}

.time-select {
    max-width: 125px;
    min-width: 125px;
    height: 48px;
}

.area-select {
    max-width: 141px;
    min-width: 141px;
    height: 48px;

}

.ingredients-select {
    height: 48px;
}
}