.modal-recipe{
    width: 320px;
    height: auto;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    background: var(--light-color);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%) rotate(0);
    overflow-y: auto;
}

.modal-recipe-content{
    overflow: auto;
}

.recipe-modal-btn-wrap{
    display: flex;
    gap: 14px;
}

.btn-favorite{
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.btn-give-rating{
    background-color: transparent;
    border: 1px solid var(--accent-color);
    color: var(--dark-color);
    padding: 12px 24px; 
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.btn-give-rating:hover,
.btn-give-rating:focus{
    background-color: var(--accent-color);
    color: var(--btn-text-color);
}

.btn-recipe-close{
    position: absolute;
    right: 14px;
    top: 14px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: transparent;
    border: none;
    font-size: 18px; 
}

.btn-recipe-close:hover,
.btn-recipe-close:focus{
    border: 1px solid var(--accent-color);
    border-radius: 50%;
}

.recipe-modal-title{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--dark-color);
    margin-top: 20px;
    text-transform: uppercase;
}

.rating-time-wrap{
    display: flex;
    align-items: start;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--light-theme-semi-transparent-color);
    margin-bottom: 33px;
    gap: 16px;
}

.rating-recipe-modal{
    background-color: transparent;
}

.rating-value-modal{
    color: var(--light-theme-semi-transparent-color);
}

.modal-ingredients-list {
    margin-top: 33px;
    margin-bottom: 40px;
}

.recipe-modal-ingredients-item{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 14px;
    border-bottom: 1px solid var(--light-theme-semi-transparent-color);
}

.ingredients-name-span{   
    color: var(--dark-color);
}

.ingredients-measure-span{
    color: var(--light-theme-semi-transparent-color);
}

.recipe-modal-ingredients-item:last-child{
    margin-bottom: 0;
}

.modal-tags-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.recipe-modal-teg-span{
    border: 1px solid var(--light-theme-transparent-color);
    border-radius: 35px;
    padding: 8px 16px;
}

.recipe-modal-tag-item{
    padding-bottom: 30px;
}

.recipe-modal-instructions-paragraph{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color:  var(--light-modal-text-color);
}

.recipe-modal-instructions-wrap{
    margin-bottom: 40px;
}


@media screen and (min-width: 375px){
    .btn-favourite{
        font-size: 14px;
    }

    .btn-give-rating{
        font-size: 14px;
    }

    .modal-recipe{
        width: 335px;
    }
}

@media screen and (min-width: 768px){
    .modal-recipe{
        width: 531px;
        padding: 32px;
        transform: translate(-50%, -40%) rotate(0);
    }

    .recipe-modal-img{
        width: 467px;
        height: 250px;
    }

    .recipe-modal-video{
        width: 467px;
        height: 250px;
    }

    .recipe-modal-title{
        order: 1;
        margin-bottom: 16px;
        margin-top: 0;
    }

    .recipe-modal-tag-item{
        margin-right: 0;
        padding-bottom: 0;
    }

    .modal-ingredients-list{
        margin-top: 32px;
        margin-bottom: 32px;
        order: 4;
    }

    .modal-tags-list{
        display: flex;
        justify-content: start;
        gap: 4px;
    }

    .recipe-modal-ingredients-item{
        margin-bottom: 10px;
    }

    .recipe-modal-instructions-wrap{
        margin-bottom: 32px;
        order: 5;
    }

    .modal-recipe-content{
        display: flex;
        flex-direction: column;
    }

    .video-or-image-wrap{
        order: 2;
    }

    .raring-time-tags{
        order: 2;
        display: flex;
        justify-content: space-between;
    }

    .recipe-modal-tags{
        order: 2;
    }

    .rating-time-wrap{
        order: 2;
    }

}
